@import "./custom-variables";
@import "../node_modules/bootstrap-scss/functions";
@import "../node_modules/bootstrap-scss/_variables";
@import "../node_modules/bootstrap-scss/_mixins";
@import "../node_modules/bootstrap-scss/_buttons";
@import "../node_modules/bootstrap-scss/button-group";
@import "../node_modules/bootstrap-scss/forms";
@import "../node_modules/bootstrap-scss/input-group";

.button {
    padding: 10px 25px;
    font-weight: 100;
    font-size: 15px;

    &__dark {
        background: $main-dark-color;
        color: $main-light-color;
    }

    &__light {
        border: 1px solid $main-dark-color;    
    }

    &:hover {
        color: $main-light-color !important;
        background-color: $hover-color !important;
    }

    &__light:disabled {
        opacity: 40%;
    }

    &__nav {
        position: relative;
        border: 1px solid #4D4949;
        width: 45px;
        height: 45px;
        padding: 0;
        margin: 0;

        &::before {
            content: '';
            display: block;
            width: 13px;
            height: 13px;
            position: absolute;
            top: calc(50% - 6.5px);
            border-top: 1px solid #000000;
            border-right: 1px solid #000000;
        }

        &:hover {
            background-color: transparent !important;
        }
    }

    &__previous::before {
        transform: rotate(225deg);
        left: calc(50% - 5px);
    }

    &__next::before {
        transform: rotate(45deg);
        left: calc(50% - 10px);
    }

    &:hover {
        background: none;
        box-shadow: 0 0 10px #6D6D6D;
    }

    &__transparent {
        background: rgba(0, 0, 0, 0.5);
        margin: 0 !important;
        border: none;
        height: 60px;
        width: 50px;
        padding: 18px 19px 10px !important;

        &:hover {
            background: rgba(0, 0, 0, 0.5);
        }
    }

    &__wrapper {
        max-width: 360px !important;
        margin: 42px auto 40px !important;
    }

    &__search {
        border-left: none;
    }
}

.icon {
    &-grey {
        background-color: #d8d8d8;
    }

    &__like:hover {
        cursor: pointer;
    }

    &__text {
        display: inline-block;
        font-size: 15px;
        line-height: 25px;
        margin-left: 5px;
    }

    &__star {
        &-half::after {
            content: "e";
            display: block;
            width: 14px;
            height: 14px;
            background: url("../img/atom-icons/Star.svg") no-repeat, -50%;
            filter: grayscale(100%);
        }
        &-grey {
            filter: grayscale(100%);
        }
    }

    &__search {
        margin-left: -8px;
    }
}

.form {
    &__input {

        &:focus {
            border: 1px solid #4D4949;
            box-shadow: none;
        }


    }
    
}

.input {
    position: relative;
    width: $min-width;

    &__error {
        border: 1px solid $error-color;
    }

    &__pass {

        &:before {
            content: "";
            min-width: 10px;
            display: block;
            position: absolute;
            top: -2px;
            letter-spacing: 0;
            font-size: 14px;
            line-height: 23px;
            padding-left: 20px;;
        }
        &-hide {

            &::before {
                content: "Hide";
                left: 265px;
                background: url("../img/atom-icons/a-icon-hidepass.svg") no-repeat left;
            }
        }

        &-show {

            &::before {
                content: "show";
                left: 267px;
                background: url("../img/atom-icons/a-icon-showpass.svg") no-repeat left;
            }
        }
    }

    &-search {
        border: 1px solid $main-dark-color;
        border-right: none;
        height: 45px;
        padding-left: 10px;
        letter-spacing: -0.5px;

        &::placeholder {
            color: $main-dark-color;
        }
    }
}

.line {
    display: block;
    width: 92px;
    height: 8px;
    border: 1px solid $main-dark-color;
    border-top: transparent;
    position: relative;
    margin: 3px auto -1px;

    &::before, &::after {
        content: "";
        display: block;
        width: 3px;
        height: 0;
        border-bottom: 1px solid $main-dark-color;
        position: absolute;
        top: -1px;
    }

    &::before {
        left: -3px;
    }

    &::after {
        right: -3.5px;
    }

    &-post {
        width: 123px;
        height: 8px;
        margin-top: 3px;
    }

    &-portfolio {
        width: 157px;
        margin-top: 0;
    }

    &-testimonials {
        width: 130px;
        margin-bottom: 0 !important;
    }

    &-contact {
        width: 107px;
    }
}

.search {
    width: $min-width;
}

.btn-toolbar {
    justify-content: flex-end;
}
